<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css')}}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <center>
        <div class="title">
            Apple Leaf Disease Prediction
        </div>
    </center>
    <div class="main">
        <div class="container">
            <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Predict" class="predict">
            </form>
        </div>
    </div>
</body>
</html>